**/node_modules
**/*.vsix
**/build
**/out
**/dist
**/*.egg-info
**/*.log
**/*.pyc
**/__pycache__
**/.pytest_cache
**/.coverage*
**/src/grizzly_ls/__version__.py
**/setup.cfg
**/.vscode-test
**/tests/*
!**/tests/project
